
/* The online shop with responsive design, media queries, and flexbox layout:
	Flexbox is preferred for simpler templates, whereas grid - for complex ones
	@see https://www.w3schools.com/css/tryit.asp?filename=trycss_mediaqueries_img_gallery
	@see https://www.w3schools.com/css/css3_mediaqueries_ex.asp
	@see https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	@see https://www.mediaevent.de/css/display-flex.html
*/

html {
	font-family:"Segoe UI",Arial,sans-serif;
}

header {
  background-color: #f1f1f1;
  padding: 25px;					/** used to generate space around an element's content **/
}

h1{font-size:36px; text-align: center;}
h2{font-size:30px; text-align: center;}

h1,h2,h3,h4,h5,h6{
  font-weight:400;				/** sets how thick or thin characters in text should be displayed. **/
}

.topnav a {
  color: #000;
  text-align: center;
  padding: 14px;			/** used to generate space around an element's content **/
  text-decoration: none;	/** removes the underline in the link's content **/
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;	/** change the background color on mouse over: the whole padding box content will be filled **/
}


* { /* 	 @see https://www.w3schools.com/css/css_rwd_grid.asp */
  box-sizing: border-box; /*  makes sure that the padding and the border are included in the total width and height of the elements. */
}

.row { /*the container for the column classes */
  display: flex;  /* display:flex und display: grid sind in CSS3 dazugekommen; display-flex: enables a flex context for all its direct children */
  flex-wrap: wrap; /*@see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ flex items will wrap onto multiple lines, from top to bottom. */
}

/* Create six equal columns that sit next to each other */
.column {
  flex: 16%; /* @see https://css-tricks.com/snippets/css/a-guide-to-flexbox/  This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. */
  max-width: 16%;
}

.productImage  > *{ /* all chidren of the class productImage */
   display :block;
}

.chosenProductDetailsImage{  /** style for the product's detailed image */
	height:550px;
	width:100%;
	padding: 10px;
	background-color: white;
}

.tableImage{	/* ---     styles for the products "table"  */
	height:230px;
	width:230px;
	padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.productImage:hover{
	background-color:#ddd; 
}

.aside {   	/* ---     styles for the products chosen summary "table"  */
  background-color: #f1f1f1;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Responsive layout - on desktops only enable hover */
@media screen and (max-width: 1200px) {
	 .column {
	   	flex: 20%;
	    max-width: 20%;
	 }
}


/* Responsive layout - on desktops only enable hover */
@media screen and (max-width: 900px) {
	 .column {
	   	flex: 25%;
	    max-width: 25%;
	 }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 33%;
    max-width: 33%;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  
  .tableImage{	/* ---     styles for the products "table"  */
	height:100%;
	width:100%;
	padding: 5px;
   }
  
  .column.hideOnMobile{
  	display:none;
  }
}


/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}



/* ---					Styles for the navigation div 				--- E N D --- */


/* styles for the contacts table --- B E G I N --- */
table.contactTable {	
 	margin-top:10px;
 	margin-left:190px;
}


.contactTable .tdrigth 
{
  table-layout:fixed;
  width:120px;
}

.contactTable textarea {				/** limiting the textarea size, @see https://stackoverflow.com/questions/27939344/textarea-max-width **/
    width:100%;
    max-width:98%;
    max-height:30%;
}


/* styles for the contacts table --- E N D --- */
