header {
  background-color: #F1F1F1;
  padding: 25px;					/** used to generate space around an element's content **/
}

h1{font-size:36px; text-align: center;}
h2{font-size:30px; text-align: center;}

h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;				/** sets how thick or thin characters in text should be displayed. **/
}

#leftDiv{
	float:left; 
	width:31%;
}

#rightDiv{
	float:right; 
	width:69%;
}

.topnav {
 	/** border-style: outset;  - make a border around the div **/
 	
 	/** center a div, how it works source:
 		https://stackoverflow.com/a/31639985/1925356 **/
 		
  left: 50%;	/** 		the left property (when given in %) is calculated based on height of the outer div (in our case, window). **/
  
  transform: translate3d(-50%,-50%, 0); /** transform uses height/width of the element to determine translation, so the  div will move left(50% width
  											since height /width are given in negatives, thus aligning the div to the center of the page. **/
  position: absolute;
}

/* Style the topnav links */
.topnav a {
  font-family:"Segoe UI",Arial,sans-serif;
  color: #000;
  text-align: center;
  padding: 14px;			/** used to generate space around an element's content **/
  text-decoration: none;	/** removes the underline in the link's content **/
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;	/** change the background color on mouse over: the whole padding box content will be filled **/
}

.divImage{
	padding: 5px;
	background-color: white;
}

.addedToCart{
	color:#a600a6;
}

.divImage span{
	font-family:"Segoe UI",Arial,sans-serif;
	display:none;
}


.divImage:hover {
	@extend .tableImage; /** https://css-tricks.com/the-extend-concept/ +**/
	background-color:#ddd;
}

.tableImage {
	height:200px;
	width:200px;
}

.chosenProductDetailsImage{
	height:550px;
	width:400px;
	padding: 10px;
	background-color: white;
}

table.contactTable {
 	font-family:"Segoe UI",Arial,sans-serif;
 	margin-top:10px;
 	margin-left:190px;
}


.tdrigth 
{
  table-layout:fixed;
  width:120px;
}

textarea {				/** limiting the textarea size, @see https://stackoverflow.com/questions/27939344/textarea-max-width **/
    width:100%;
    max-width:98%;
    max-height:30%;
}



.priceAb {
	font-size: 16px;
	font-family: Arial, Helvetica;
}

.price {
	@extend .priceAb; /** https://css-tricks.com/the-extend-concept/ +**/
	font-weight: bold;
}
