header {
  background-color: #F1F1F1;
  padding: 25px;					/** used to generate space around an element's content **/
}

h1{font-size:36px; text-align: center;}
h2{font-size:30px; text-align: center;}

h1,h2,h3,h4,h5,h6{
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight:400;				/** sets how thick or thin characters in text should be displayed. **/
}

/* ---------------------- Styles for the screen vertical separation ---------------------------------------------------------------------- */

#leftDiv {
    float:left; 
	width:25%;
}

#productsDiv {
	display:inline;
	width:60%;
}

#cartDiv {
    float:right; 
	width:15%;
}

/* ---------------------- Styles for the navigation of the index.html page ---------------------------------------------------------------------------------------- */


/* .dropdownContainer{ ---> uncomment this to center the menu
  left: 50%;	* 		the left property (when given in %) is calculated based on height of the outer div (in our case, window). *
  
  transform: translate3d(-50%,-50%, 0); * transform uses height/width of the element to determine translation, so the  div will move left(50% width
  											since height /width are given in negatives, thus aligning the div to the center of the page. *
  position: absolute;
} */

.dropdownEntry {
  padding: 16px;
  font-family:"Segoe UI",Arial,sans-serif;
  font-size:16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 410px;
  min-height: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  font-family:"Segoe UI",Arial,sans-serif;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdownEntry {
  background-color: #f9f9f9;
}

/* ---------------------- Styles for the navigation of the contact.html page ---------------------------------------------------------------------------------------- */
/* a similar approach is applied on the  https://www.limango-outlet.de/  */
.dropdownmenu { 
	margin-left: auto;
	margin-right: auto;
}

.dropdownmenu ul {
	padding: 0; /* margin vs. padding, @see https://stackoverflow.com/questions/2189452/when-to-use-margin-vs-padding-in-css */
	text-align: center;	/* change this to right, left and center and right to move the whole menu right, left and center */
}

.dropdownmenu ul li {
	position: relative; /* position:relative is needed when we want the dropdown content to be placed right below the <li> item (using position:absolute). */
	display: inline-block;
    width: 200px;
    line-height: 30px;
	font-size: 16px;
	font-family:"Segoe UI",Arial,sans-serif;
	background-color: rgba(194,194,194,.5);
}

.dropdownmenu ul li a {
	text-decoration: none;
	color:black;
}

.dropdownmenu ul li a:hover {
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdownmenu ul li ul {
	position: absolute;	/* position:absolute is needed when we want the dropdown content to be placed right below the parent  <li> item (which is positioned using position:relative). */
	top: 100%;
    left: 50%;
    margin-left: -101px; /** for negative margins, see http://stackoverflow.com/questions/11495200/how-do-negative-margins-in-css-work-and-why-is-margin-top-5-margin-bottom5 **/
    display: none;
}

.dropdownmenu ul li:hover ul {
	display: block;
}

/* styles for the picture list ul on the contact.html table */

/* @see https://stackoverflow.com/questions/18378800/how-to-keep-li-elements-on-single-line-in-fixed-width-ul */
ul.picListUl {
	width: 140px;
    display: table;
    table-layout: fixed;
}

ul.picListUl li {
    display: table-cell;
}

/** --------- styles for the productsTable --------------------------------------------------------------------------------------------------- **/

.productsTable .divImage{
	padding: 5px;
	background-color: white;
}

.productsTable .addedToCart{
	color:#a600a6;
}

.productsTable .addToCartSpan{
	font-family:"Segoe UI",Arial,sans-serif;
	display:none;
}


.productsTable .divImage:hover {
	background-color:#ddd;
}

.productsTable .tableImage {
	height:200px;
	width:200px;
}

.productsTable .chosenProductDetailsImage{
	height:550px;
	width:400px;
	padding: 10px;
	background-color: white;
}

.productsTable .price {
	font-family:"Segoe UI",Arial,sans-serif;
	font-weight: bold;
	display:block;
}



/** ---------- 	styles for the contacts table ------------------------------------------------------------------------------------------------------------------- **/

.contactTable {
 	font-family:"Segoe UI",Arial,sans-serif;
 	margin-top:10px;
 	margin-left:190px;
}


.contactTable textarea {				/** limiting the textarea size, @see https://stackoverflow.com/questions/27939344/textarea-max-width **/
    width:100%;
    max-width:98%;
    max-height:30%;
}

.contactTable .tdrigth {
  table-layout:fixed;
  width:120px;
}


