header {
  background-color: #F1F1F1;
  padding: 20px;
}

h1{font-size:36px; text-align: center;}
h2{font-size:30px; text-align: center;}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;}

.topnav {
  overflow: hidden;
  border-style: outset;
}

/* Style the topnav links */
.topnav a {
  float: left;
  font-family:"Segoe UI",Arial,sans-serif;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color:inherit;
}
table.productTable {
	margin-left:auto; 
    margin-right:auto;
}

.priceAb {
	font-size: 16px;
	font-family: Arial, Helvetica;
}

.price {
	@extend .priceAb; /** https://css-tricks.com/the-extend-concept/ +**/
	font-weight: bold;
}

.tableImage {
	height:250px;
	width:250px;
}